.margins{
    margin-left: 100px;
    margin-top: 20px;
}
.button-margins{
margin-left: 350px;
}
h1 {
    display: flex;
    flex-direction: row;
    font-family: "Playwrite US Modern", cursive;
  }
  h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin-right: 400px;
    margin-left: 400px;
  }
  h1:before {
    margin-right: 10px
  }
  h1:after {
    margin-left: 10px
}
