<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

  <link rel="stylesheet" href="../assets/plugins/fontawesome-free/css/all.min.css">
  
  <link rel="stylesheet" href="../assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  
  
  <link rel="stylesheet" href="../assets/dist/css/adminlte.min.css">
</head><body [ngClass]="{ 'register-page': isRegisterPage }" style="min-height: 570.781px;">
  <nav *ngIf="showNav" class="navbar navbar-expand-lg bg-body-tertiary fixed-top" >
  <div class="container-fluid">
    <a class="navbar-brand"   routerLink="/home">
        <img src="assets/logo.png" alt="Muichiro" width="30" height="24"> Muichiro
      </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " routerLinkActive="'active'"  aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link " routerLinkActive="'active'" routerLink="/gallery">Gallery</a>

        <a class="nav-link " routerLinkActive="'active'" routerLink="/contact">Contact us</a>
        <a class="nav-link " routerLinkActive="'active'" routerLink="/about">About</a>
        <a class="nav-link disabled" aria-disabled="true">Premium</a>
        
        @if(isAuthenticated){<div style="margin-left: 600px; height: 43px;"><ul class="navbar-nav"><li class="nav-item dropdown"><span dropdown ><a class="nav-link" href id="basic-link" dropdownToggle (click)="false"
          aria-controls="basic-link-dropdown"><img class="profile-user-img img-fluid img-circle mr-4" src="assets/avatar.png" alt="User profile picture" style="width: 36px;height: 36px;" ><b>{{username}}</b> <i class="fa-solid fa-caret-down"></i>
        </a><ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="basic-link">
        <li class="nav-item ">
          <a class="dropdown-item" href="#">Profile</a>
        </li>
        <li >
          <a class="dropdown-item" href="#">Publications</a>
        </li>
        <li >
          <a class="dropdown-item" href="#">Favorites</a>
        </li>
        <li >
          <a class="dropdown-item text-danger" href="#" (click)="logOut()">Log out</a>
        </li>
      </ul></span></li></ul></div>}
        
        @else{
       <div style="margin-left: 600px;"><ul class="navbar-nav"><li class="nav-item"><a class="nav-link text-primary" href="http://localhost:4200/register">Sign Up</a></li><li class="nav-item"><a class="nav-link bg-success" href="http://localhost:4200/login" style="border-radius: 5px;">Log In</a></li></ul></div> }
        </div>
      </div>
    </div>
  
</nav>
<router-outlet/></body></html>