<html><head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

  <link rel="stylesheet" href="../assets/plugins/fontawesome-free/css/all.min.css">
  
  <link rel="stylesheet" href="../assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  
  
  <link rel="stylesheet" href="../assets/dist/css/adminlte.min.css">
</head><body [ngClass]="{ 'register-page': isRegisterPage }" style="min-height: 570.781px;">
  <nav *ngIf="showNav" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"   routerLink="/home">
        <img src="assets/logo.png" alt="Muichiro" width="30" height="24"> Muichiro
      </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " routerLinkActive="'active'"  aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link " routerLinkActive="'active'" routerLink="/gallery">Gallery</a>

        <a class="nav-link " routerLinkActive="'active'" routerLink="/contact">Contacts</a>
        <a class="nav-link " routerLinkActive="'active'" routerLink="/about">About</a>
        <a class="nav-link disabled" aria-disabled="true">Premium</a>
        

        <li class="nav-item"><a class="nav-link" routerLink="/register">Sign Up</a></li>
        </div>
      </div>
    </div>
  
</nav>
<router-outlet/></body></html>