<app-macarousel/>
<br/>
<br/>


<div class="container">
    <div class="row">
    
  
  <div class="col">
    <br/>
    <br/>
    <br/>
    <br/>

    <h1 >Who is Muichiro ?</h1>
    <p><b class="text-success">Muichiro Tokito</b> (時とき透とう 無む一いち郎ろう Tokitō Muichirō) is a major supporting character of Demon Slayer: Kimetsu no Yaiba. He is a Demon Slayer of the Demon Slayer Corps and the current Mist Hashira .</p>
    <p>Despite his awkward and unaccommodating personality, Muichiro is a prodigy in the Demon Slayer Corp. He has already earned a reputation as one of the strongest swordsmen in the organization, achieving the rank of Hashira in just two months of training. But there’s more to Muichiro than just his impressive combat skills.</p>
    <p>Tragedy struck the Tokito brothers once again when they were attacked by a demon while sleeping in their cabin. Yuichiro fought valiantly to protect Muichiro, but the demon’s fatal blow left him severely injured.
    </p><p>In a fit of rage, Muichiro summoned all his strength to take on the demon single-handedly, fighting through the night until sunrise. When the demon finally turned to ash, Muichiro returned to the cabin to find Yuichiro near death, praying for his twin’s survival.</p>
  </div>
  
  <div class="col mt-5">
    <div class="card">
     
      <div class="card-body">
      <img src="assets/biography.jpeg" style="height: 500px; width: 500px;">
      </div>
      <div class="card-footer bg-gray">
        <h4 class="card-title text-center">Muichiro Tokito</h4>
        </div>
      </div>
  </div>
 
  
    </div>
    </div>
    <br/>
    <footer class="main-footer ml-1">
      <strong>Copyright © 2024-2025 <a href="http://localhost:4200/home">Muichiro Gallery</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
      </div>
      </footer>
