<div class="container"><div class="row"><div class="col mt-4">
    <div class="card"><div class="card-header"><img class="profile-user-img img-fluid img-circle mr-4" src="assets/avatar.png" alt="User profile picture" > &nbsp;<b>{{username}}</b><br/></div><div class="card-body">
        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
        <br/>
        <p>{{review}}</p>
    </div></div>
    <button class="btn text-info" value="{{idReview}}" (click)="like($event)"><i [ngClass]="isLiked()?
        'fa-solid fa-thumbs-up':
        'fa-regular fa-thumbs-up'"></i> &nbsp; {{likes.length}}
        

      </button><button class="btn text-danger" value="{{idReview}}" (click)="dislike($event)"><i [ngClass]="isDisliked()?
        'fa-solid fa-thumbs-down':
        'fa-regular fa-thumbs-down'"></i>&nbsp; {{dislikes.length}}</button>
</div></div></div>